.navbar a{
    color: black !important;
    text-transform: uppercase;
    font-weight: 700;
}
img.logo5{
    margin-left: 140px;
} 
h1 {
    text-align: center;
  }
h1{
    font-size: 35px;
    font-style: normal;
}
h2{
    font-size: 20px;
}
.container2 .row{
    text-align: center;
    font-size: 20px;
}
.container2 .row h3{
    font-size: 18px;
    font-weight: bold;
}